.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.mainBody {
	float: left;
	width: 70%;
}

ul{
	list-style-type: none;
}

ul li a{
	text-decoration: none;
	text-align: center;
	background-color: #38D5E0;
	color: black;
	display: inline-block;
	width: 400px;
	height: 20px;
	margin: 2px;
	padding: 15px;
	font-size: 20px;
}

.sideBar{
	text-decoration: none;
	background-color: #FF7A68;
	width: auto;
	float: left;
	margin-top: 270px
}

h2 {

}

h3 {
	
}

p {
	text-align: left;
	border: 10px solid none;
	border-radius: 5px;
	padding: 10px;
	background-color: #FFE7E4;
	margin: auto;
}
