.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.mainBody {
	float: left;
	width: 70%;
}

ul{
	list-style-type: none;
}

ul li a{
	text-decoration: none;
	text-align: center;
	background-color: #9B59B6;
	color: black;
	display: inline-block;
	width: 400px;
	height: 20px;
	margin: 2px;
	padding: 15px;
	font-size: 20px;
}

.sideBar{
	text-decoration: none;
	background-color: #5499C7;
	width: auto;
	float: left;
	margin-top: 170px

}

h2 {
	text-align: left;
	border: 10px solid none;
	padding: 10px;
	background-color: #D7BDE2;
	margin: 1px;
	border-radius: 7px;

}

h3 {
	text-align: left;
	border: 10px solid none;
	padding: 10px;
	background-color: #D4E6F1;
	margin: 1px;
	border-radius: 7px;
}

p {
	text-align: left;
	border: 10px solid none;
	border-radius: 7px;
	padding: 10px;
	background-color: ;
	margin: 2px;
}
