.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: middle;
}

ul{
	list-style-type: none;
}

ul li a{
	text-decoration: none;
	text-align: center;
	background-color: #38D5E0;
	color: black;
	display: inline-block;
	width: 400px;
	height: 20px;
	margin: 2px;
	padding: 15px;
	font-size: 20px;
}

.sideBar{
	text-decoration: none;
	background-color: #E06638;
	width: 28px;
}